.background {
    background: 
          linear-gradient(to right,rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.75)), 
          url('https://picsum.photos/id/1040/2550/1440') center no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw; 
    /* background: linear-gradient(to top, red, black); */
    position: relative;
    /* z-index: -1; */
    margin-bottom: 100px;
}

.centre-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.btn {
  background-color: #f33;
  border: 1px solid #f33;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #fff;
  color: #f33;
  border-color: #f33;
  /* outline: 1px solid #f33; */
}

header {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100px;
}

.navigation {
  height: 100%;
  line-height: 100px;
  text-align: center;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 24px;
  margin: 0 25px;
  border-bottom: 1px solid transparent;
  transition: border-color 0.5s ease-in-out;
  padding-bottom: 5px;
}

.navigation a:hover {
  border-color: #fff;
}
