* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.col {
    /* border: 3px solid #f11; */
}

img {
    width:100%;
    /* height: auto; */
}
