* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    font-size: 3em;
}

figure {
    background-color: #ff0;
    width: 640px;
    height: 480px;
    padding: 50px;
}

img {
    width: 425px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
